*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  // font
  --body-font: 'Montserrat', sans-serif;

  // colors
  --primary-color: #FFFFFF;
  --linear-gradient: linear-gradient(154.23deg, #0F3A7B -58.45%, #0CFFFF 374.49%);
}

html {
  font-size: 62.5%;
}

body, button, textarea, input {
  font-family: var(--body-font);
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}